[user]
    name = Ingvar Sigurdsson
    email = gvarihendrix@gmail.com
[core]
    longpaths = true
    autocrlf = true
    editor = vim
[web]
    browser = "chrome"
[rerere]
    enabled = 1
    autoupdate = 1
[merge]
    renormalize = true
    tool = kdiff3
[mergetool "kdiff3"]
    # path = "C:\\Program Files\\KDiff3\\kdiff3.exe"
    trustExitCode = false
[diff]
    guitool = kdiff3
[difftool "kdiff3"]
    # path = "C:\\Program Files\\KDiff3\\kdiff3.exe"
    trustExitCode = false

# [merge]
#     renormalize = true
#     guitool = kdiff3
# [diff]
#     tool = kdiff3
# [difftool]
#     prompt = false
# [difftool "kdiff3"]
#     # Unix style paths must be converted to windows path style
#     cmd = kdiff3.exe \"`wslpath -w $LOCAL`\" \"`wslpath -w $REMOTE`\"
#     trustExitCode = false
# [mergetool]
#     keepBackup = false
#     prompt = false
# [mergetool "kdiff3"]
#     path = kdiff3.exe
#     trustExitCode = false

[alias]
    s = status
    sb = status -s -b
    #############
    sa = stash apply
    sc = stash clear
    sd = stash drop
    sl = stash list
    sp = stash pop
    ss = stash save
    #############
    d = diff
    dc = diff --cached
    dk = diff --check
    dck = diff --cached --check
    #############
    c = commit
    ca = commit -a
    cm = commit -m
    cam = commit -am
    cd = commit --amend
    cad = commit -a --amend
    #############
    a = add .
    #############
    ap = apply
    as = apply --stat
    ac = apply --check
    #############
    l = log --oneline
    lg = log --oneline --graph --decorate
    lgp = log --graph --decorate --pretty=oneline
    #############
    o = checkout
    ob = checkout -b
    #############
    b = branch
    ba = branch -a
    bd = branch -d
    br = branch -r
    #############
    f = fetch
    fo = fetch origin
    #############
    fp = format-patch
    #############
    fk = fsck
    #############
    m = merge
    mf = merge --no-ff
    #############
    pr = prune -v
    #############
    ps = push
    pl = pull
    pb = pull --rebase
    psf = push -f
    psu = push -u
    plu = pull -u
    pso = push origin
    plo = pull origin
    pbo = pull --rebase origin
    psfo = push -f origin
    psuo = push -u origin
    pluo = pull -u origin
    #############
    rb = rebase
    #############
    re = reset
    rh = reset HEAD
    reh = reset --hard
    rem = reset --mixed
    res = reset --soft
    rehh = reset --hard HEAD
    remh = reset --mixed HEAD
    resh = reset --soft HEAD
    #############
    r = remote
    ra = remote add
    rm = remote rm
    rv = remote -v
    rp = remote prune
    rs = remote show
    rso = remote show origin
    rpo = remote prune origin
    #############
    w = show
    #############
    human = name-rev --name-only --refs=refs/heads/*
    #############
    squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
[color]
    ui = true
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[url "https://"]
    insteadOf = git://
[push]
    default = simple

